<div class="alert">
  <p><strong><%= donate.nickname %></strong> fortaleceu com R$<strong><%= donate.value %></strong>.</p>
  <audio id="audio-donate-<%= donate.id %>" preload="auto" autoplay>
    <source src="<%= file_path_audio %>" type="audio/mpeg">
  </audio>
</div>
<style>
  .alert {
    background-color: yellow;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
  }
</style>
